body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


.navbar{

background:#6a0052;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

}


.main{

display:flex;

gap:20px;

padding:20px;

}



/* ADD PRODUCT */

.addProduct{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

width:350px;

}


.addProduct input{

width:100%;

margin:8px 0;

padding:8px;

}


.addProduct button{

width:100%;

padding:10px;

background:#ff4fa0;

color:white;

border:none;

cursor:pointer;

}



/* ORDERS */

.card{

background:white;

display:flex;

gap:15px;

padding:15px;

margin-bottom:15px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

}


.card img{

width:120px;

height:120px;

object-fit:cover;

}


select{

padding:7px;

margin-top:10px;

}