body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

background:#6a0052;

color:white;

padding:15px;

}


.navbar a{

color:white;

text-decoration:none;

}



/* MAIN */

.main{

display:flex;

gap:20px;

padding:20px;

}



/* ITEMS */

.items{

flex:3;

}


.card{

background:white;

display:flex;

gap:15px;

padding:15px;

margin-bottom:15px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

}


.card img{

width:120px;

height:120px;

object-fit:cover;

}


/* BUTTONS */

.qty button{

background:#ff4fa0;

border:none;

padding:5px 10px;

color:white;

margin:3px;

cursor:pointer;

}


.remove{

background:red;

color:white;

border:none;

padding:6px;

cursor:pointer;

}



/* SUMMARY */

.summary{

flex:1;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

height:320px;

}


.summary button{

width:100%;

margin-top:10px;

padding:10px;

background:#ff4fa0;

color:white;

border:none;

cursor:pointer;

}

@media(max-width:768px){

.main{

flex-direction:column;

}


.summary{

height:auto;

}

.card{

flex-direction:column;

align-items:center;

text-align:center;

}

.card img{

width:100%;

}

}