body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


.navbar{

background:#6a0052;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

}


.main{

display:flex;

gap:20px;

padding:30px;

}


/* ADDRESS */

.address{

flex:2;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

}

.address input,

.address textarea{

width:100%;

margin:10px 0;

padding:10px;

}



/* SUMMARY */

.summary{

flex:1;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

height:250px;

}


.summary button{

width:100%;

padding:12px;

background:#ff4fa0;

border:none;

color:white;

cursor:pointer;

margin-top:15px;

}

@media(max-width:768px){

.main{

flex-direction:column;

}

.summary{

height:auto;

}

}