body{

margin:0;

font-family:Arial;

background:#f1f3f6;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}


/* MAIN BOX */

.container{

display:flex;

width:700px;

background:white;

border-radius:10px;

overflow:hidden;

box-shadow:0 0 15px rgba(0,0,0,.2);

}


/* LEFT */

.left{

flex:1;

background:#6a0052;

color:white;

padding:40px;

display:flex;

flex-direction:column;

justify-content:center;

}


/* RIGHT */

.right{

flex:1;

padding:40px;

}


input{

width:100%;

margin:10px 0;

padding:10px;

}


button{

width:100%;

padding:12px;

background:#ff4fa0;

border:none;

color:white;

cursor:pointer;

}