body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


.navbar{

background:#6a0052;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

}


.orders{

padding:20px;

}


.card{

background:white;

display:flex;

gap:15px;

padding:15px;

margin-bottom:15px;

border-radius:10px;

box-shadow:0 0 8px rgba(0,0,0,.15);

}


.card img{

width:130px;

height:130px;

object-fit:cover;

}


.status{

font-weight:bold;

margin-top:10px;

}


.pending{

color:orange;

}


.packed{

color:blue;

}


.shipped{

color:purple;

}


.delivered{

color:green;

}