body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#6a0052;

color:white;

padding:12px 20px;

}


.logo{

font-size:22px;

font-weight:bold;

}


.navbar input{

width:450px;

padding:8px;

border:none;

border-radius:4px;

}


.navRight a{

color:white;

margin-left:20px;

text-decoration:none;

}



/* CATEGORY BAR */

.categoryBar{

background:white;

display:flex;

gap:20px;

padding:12px;

justify-content:center;

box-shadow:0 2px 5px rgba(0,0,0,.1);

}

.categoryBar div{

cursor:pointer;

padding:5px 10px;

}

.categoryBar div:hover{

color:#e40046;

}



/* MAIN */

.main{

display:flex;

}



/* FILTER */

.filter{

width:240px;

background:white;

padding:15px;

height:100vh;

box-shadow:0 0 8px rgba(0,0,0,.1);

}


.filter select,

.filter input{

width:100%;

margin:10px 0;

padding:7px;

}



/* PRODUCTS */

.products{

flex:1;

display:grid;

grid-template-columns:

repeat(auto-fill,

minmax(230px,1fr));

gap:20px;

padding:20px;

}



/* CARD */

.card{

background:white;

padding:10px;

border-radius:8px;

box-shadow:

0 0 8px rgba(0,0,0,.15);

transition:.2s;

position:relative;

}

.card:hover{

transform:translateY(-5px);

}


/* DISCOUNT */

.badge{

position:absolute;

top:10px;

left:10px;

background:red;

color:white;

padding:3px 7px;

font-size:12px;

border-radius:4px;

}


img{

width:100%;

height:210px;

object-fit:cover;

}


.price{

color:#e40046;

font-weight:bold;

}



button{

background:#ff4fa0;

color:white;

border:none;

padding:7px;

margin-top:5px;

border-radius:5px;

cursor:pointer;

}



/* POPUP */

.popup{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.6);

}


.popup div{

background:white;

width:420px;

margin:80px auto;

padding:20px;

border-radius:10px;

}

/* PROFILE */

.profile{

position:relative;

cursor:pointer;

background:white;

color:black;

padding:5px 10px;

border-radius:5px;

}


.dropdown{

display:none;

position:absolute;

background:white;

right:0;

top:35px;

box-shadow:

0 0 10px gray;

border-radius:5px;

}


.dropdown a{

display:block;

padding:10px;

text-decoration:none;

color:black;

}


.profile:hover .dropdown{

display:block;

}

/* MOBILE */

@media(max-width:768px){

.navbar{

flex-direction:column;

gap:10px;

}


.navbar input{

width:95%;

}


.main{

flex-direction:column;

}


.filter{

width:100%;

height:auto;

}


.products{

grid-template-columns:

repeat(auto-fill,

minmax(160px,1fr));

padding:10px;

}

.card img{

height:160px;

}

}

.skeleton{

height:250px;

background:

linear-gradient(

90deg,

#eee,

#ddd,

#eee

);

animation:

load 1s infinite;

border-radius:10px;

}


@keyframes load{

0%{

background-position:-200px;

}

100%{

background-position:200px;

}

}