body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


.navbar{

background:#6a0052;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

}


.main{

display:flex;

gap:40px;

padding:40px;

}


.left{

flex:1;

background:white;

padding:20px;

border-radius:10px;

}


.left img{

width:100%;

height:450px;

object-fit:cover;

}


.right{

flex:1;

background:white;

padding:20px;

border-radius:10px;

}


.buttons button{

background:#ff4fa0;

color:white;

border:none;

padding:12px;

margin-right:10px;

cursor:pointer;

}

@media(max-width:768px){

.main{

flex-direction:column;

padding:10px;

}

.left img{

height:300px;

}

}

.zoomBox{

position:relative;

overflow:hidden;

}


#zoomLens{

position:absolute;

width:120px;

height:120px;

border:2px solid pink;

display:none;

pointer-events:none;

}