body{

font-family:Arial;

text-align:center;

background:#fff0f5;

}

header{

background:pink;

padding:15px;

}

.card{

background:white;

margin:20px;

padding:15px;

display:inline-block;

width:200px;

border-radius:10px;

}

img{

width:150px;

}

input{

margin:10px;

padding:10px;

width:250px;

}

button{

padding:10px;

background:pink;

border:none;

}

.card{

background:white;

margin:20px;

padding:15px;

display:inline-block;

width:220px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

img{

width:180px;

height:180px;

object-fit:cover;

}