body{

margin:0;

font-family:Arial;

background:#f1f3f6;

}


nav{

background:#6a0052;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

}


.grid{

display:grid;

grid-template-columns:

repeat(auto-fill,

minmax(230px,1fr));

gap:20px;

padding:20px;

}


.card{

background:white;

padding:10px;

border-radius:10px;

box-shadow:

0 0 8px gray;

}


img{

width:100%;

height:200px;

object-fit:cover;

}


button{

background:red;

color:white;

border:none;

padding:7px;

cursor:pointer;

}